.home {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.home img {
    height: 500px;

}

.home p {
    font-size: 3rem; /* 48px */
    font-weight: bold;
    margin-bottom: 2rem;

}

.home span {
    color: var(--color-red);
}

.btn {
    width: 220px;
    height: 50px;
    font-size: 1.125rem;
    font-weight: bold;
    border: 0px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.btn_red {
    background-color: var(--color-red);
    color: var(--color-white);
}

.btn_red:hover {
    background-color: var(--color-terceary);
    transition: all .5s; /* transição do botão, para deixar mais suave */
}